.home{
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  .subjects{
    .card{
      margin:5px 0px;
      box-shadow: 0px 3px 8px black;
    }
  }

  .form-part{
    .gpa{
      .card{
        margin:5px 0px;
        box-shadow: 0px 3px 8px black;
        height: 26vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .add-subject{
      form{
        padding: 5px;
        .btn-div{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}